/* Enter your custom styles here */

.sapMSFI {
    color: #066e35;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    background: transparent;
    width: 100%;
    height: 2.125rem;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-indent: 0.250rem;
    vertical-align: top;
    text-overflow: ellipsis;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    color: #cec441;
}

.sapTntToolHeader.sapMTB {
    background-color: green;
    
}

.sapUiSizeCompact .sapMBtnInner {
    height: 1.625rem;
    min-width: 6.5rem;
}  

.sapMImageContentImageIcon {
    display: block;
    position: initial;
    right: 0;
    bottom: 0;
    max-height: 3.5rem;
}

.sapUiSizeCompact .sapMBtnInner {
    height: 1.625rem;
    min-width: 3.5rem;
}